*.o
src/build/*
tags

.gdb*
*peda*

database/*
!database/*.c
!datakmod/*.h
!datakmod/*.sh
!datakmod/Makefile

tests/*
!tests/*.c
!tests/*.h
!tests/*.sh
!tests/Makefile

kmod/*
kmod/*.mod*
!kmod/*.c
!kmod/*.h
!kmod/*.sh
#!kmod/Makefile

